.header{
    line-height: 100px;
    height: 100px;
    vertical-align: middle;
    position: relative;
}

h1{
    display: inline;
    vertical-align: super;
    position: relative;
    bottom: 10px;
}

.bg-main{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
}

section{
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
    background-color: white;
    position: relative;
    top: 50px;
    border-radius: 5px;
}

.container{
    width: 70%;
    margin: auto;  
}


.button{
    padding-top: 25px;   
}

.task{
    padding: 5px;
    background-color: rgb(71 173 241);
    color: white;
    border: 1px solid rgb(71 173 241);
    border-radius: 4px;  
    cursor: pointer;  
}

.add-section{
    padding: 5px;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;

}

.list{
    margin-top: -15px;
}


li{
    list-style: none;
    position: relative;
    left: -50px;
    margin: 13px;
}


.check{
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    padding: 4px;
}

.ballot{
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    padding: 4px;
}

.editorial{
    background-color:rgb(71 173 241);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.qone{
    background-color: rgb(156 114 228);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.recruiting{
    background-color:rgb(100 192 169);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.mobile{
    background-color:rgb(242 158 51);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.website{
    background-color: rgb(216 99 161);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.sales{
    background-color: rgb(176 201 38);
    font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
